#myText {
    width: 100px;
}

#desiredColor {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 100px;
}

#radioButtons {
    float: left;
}

input[type=radio],
button {
    cursor: pointer;
}

#correctSky,
#incorrectGrass {
    color: green;
    display: none;
}

#incorrectSky,
#correctGrass {
    color: red;
    display: none;
}

#designLogo {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
    font-weight: 900;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 200px;
    border: 10px solid black;
    background-color: black;
}

#inputLetter {
    width: 40px;
}

input[type=color] {
    height: 21px;
}

#logoDesign {
    display: flex;
    align-items: center;
}

#calculator {
    margin-left: 1rem;
    background-color: #b5a5ff2b;
    padding: .5rem;
    padding-top: 1rem;
    width: fit-content;
    border: 2px solid rgb(0, 0, 0, 0.5);
    border-radius: 5px;
}

#screen {
    background-color: #e2eaf3;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 2rem;
    letter-spacing: .3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: .4rem;
    margin-bottom: .5rem;
    width: 255px;
    height: 50px;
    border: 1px solid black;
    overflow-x: scroll;
    overflow-y: hidden;
    object-fit: contain;
    box-shadow: 0px -1px 2px 1px rgb(77, 77, 77, 0.5);
    padding-right: .5rem;
}

#screen::-webkit-scrollbar { 
    display: none;
    }

#numbers * {
    font-size: 1.2rem;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 2px 6px 0px rgb(0, 0, 0, 0.3);
    margin: .5rem;
    width: 50px;
    height: 40px;
}

#numbers *:hover {
    background-color: rgb(164, 164, 164);
    color: white;
}

#sectionWhichAnimal {
    height: 250px;
}

#imgAnimalLion,
#imgAnimalTiger,
#imgAnimalZebra,
#imgAnimalFrog,
#imgAnimalKoala,
#imgAnimalPanda,
#imgAnimalCow,
#imgAnimalPig
 {
    display: none;
    position: absolute;
    margin-left: 2rem; 
    margin-top: 0rem;
    z-index: 0;
}

#imgAnimalQuestion {
    width: 4rem;
    margin-left: 3rem;
    margin-top: .7rem;
    position: absolute;
}

#inputNameAnimal {
    margin-top: 6.5rem;
    position: absolute;
    z-index: 2;
    width: 90px;
}

#submitNameAnimal {
    position: absolute;
    margin-top: 6.5rem;
    margin-left: 6.5rem;
    z-index: 3;
}

#resetNameAnimal {
    position: absolute;
    margin-top: 6.5rem;
    margin-left: 10.5rem;
    z-index: 3;
}

#whiteHeart {
    margin-top: -6.85rem;
    margin-left: -8.55rem;
    position: absolute;
    scale: .27;
    z-index: 1;
}

.noHeart {
    opacity: 0;
}

.yesHeart {
    opacity: 1;
}

#blackHeart {
    position: absolute;
    opacity: 1;
}

#sectionHearts {
    display: flex;
    gap: 3rem;
}

#iconHeart {
    width: fit-content;
    scale: 4.5;
    margin-top: 3rem;
    margin-left: 4rem;
}

#disco {
    border: 1px solid black;
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2000ms linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.whiteBG {
    background-color: white;
}

.redBG {
    background-color: red;
  }

.blueBG {
    background-color: blue;
}

  
.checked {
    color: red;
    text-decoration: line-through;
}

#toDoButton {
    margin-bottom: .5rem;
}

#hrLength {
    width: 10rem;
    height: 2rem;
    background-color: black;
    border-radius: 5rem;
}

#circles {
    display: flex;
    flex-wrap: wrap;
}

#circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: .3rem;
}

.highlight {
    background-color: red;
    color: white;
}

#textBoxes {
    width: 400px;
    height: 200px;
    background-color: grey;
}

#textBoxDiv {
    display: flex;
    width: 400px;
    height: 50px;
    background-color: white;
    align-items: center;
    justify-content: center;
}

#textBox {
    color: white;
    background-color: grey;
    border-radius: 5px;
    padding: .4rem;
    width: 370px;
}

#textBox::placeholder {
    color: white;
}

#result {
    max-width: 100px;
    height: fit-content;
    word-wrap: break-word;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    margin: 1rem;
}

#results {
    display: flex;
    flex-wrap: wrap;
}

#messageContainer > * {
    margin: 1rem;
}

.message {
    padding: 1rem;
    border: 1px solid grey;
    color: grey;
}

.success {
    color: green;
    border-color: green;
    background-color: rgba(0, 255, 0, 0.1);
}

.error {
    color: red;
    border-color: red;
    background-color: rgba(255, 0, 0, 0.1);
}

.warning {
    color: orange;
    border-color: orange;
    background-color: rgba(100, 0, 0, 0.1);
}

#teamContainer {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

#teamContainer > * {
    padding: 0rem .3rem;
    margin: 0;
    border: 1px solid red;
    border-radius: 1rem;
    font-size: .7rem;
}

#teamContainer h4 {
    margin: .3rem;
}

#apiCall {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.gameCard {
    background-color: white;
    width: 200px;
    text-align: center;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

.gameCard h4 {
    padding: 0 .5rem
}

.gameBgImg {
    background-size: cover;
    height: 150px;
}

.detailGameBgImg {
    height: 300px;
    background-size: cover;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  .formError {
    color: red;
    display: none;
  }